

h1{
color: #bc6c25
}

body{
background-color: #fec89a;
}

.boton{
	background-color: #e07a5f
}
/*git init

// git status
// git add
//git status
//git commit

//git add origin

// git push origin master*\

